proxy_cache_path on keys_zone=token_responses:1m max_size=2m;

server {
        listen 80 default_server;
        server_name  _;

        server_tokens off;

        access_log /log/nginx-access-ssl.log;
        error_log /log/nginx-error-ssl.log;


        # This location is protected by Oauth2 by authorizing the request at /_oauth_introspect
        # Access token must be provided when accessing this location
        location ~ ^/([a-zA-Z0-9][^/]*)/test_oauth {
                set                   $tenant $1;
                auth_request          /_oauth2_introspect;
                proxy_read_timeout    60;
                proxy_connect_timeout 60;
                proxy_redirect        off;
                proxy_set_header      X-Real-IP $remote_addr;
                proxy_set_header      X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header      X-Forwarded-Proto $scheme;
                proxy_set_header      Host $host;
                proxy_pass            http://microservice:8080/test;

        }

        # This location is protected by the server-side cookie (set by scope=cookie)
        # Cookie must be present to access
        location /legacy {
                auth_request /_cookie_introspect;
                root   /root/legacy;
        }

        location /openidconnect {
                proxy_pass            http://seacat-auth-svc:8081;
        }

        location /public {
                proxy_pass            http://seacat-auth-svc:8081;
        }


        location = /_oauth2_introspect {
                internal;
                proxy_method          POST;
                proxy_set_body        "$http_authorization";
                proxy_set_header      X-Request-URI "$request_uri";
                proxy_set_header      X-Tenant "$tenant";
                proxy_pass            http://seacat-auth-svc:8081/openidconnect/introspect/nginx?verify=tenant;

                proxy_cache           token_responses;               # Enable caching
                proxy_cache_key       "$tenant $http_authorization"; # Cache for each access token
                proxy_cache_lock      on;                            # Duplicate tokens must wait
                proxy_cache_valid     200 10s;                       # How long to use each response
                proxy_ignore_headers  Cache-Control Expires Set-Cookie;
        }


        location = /_cookie_introspect {
                internal;
                proxy_method          POST;
                proxy_set_body        "$http_authorization";
                proxy_pass            http://seacat-auth-svc:8081/cookie/nginx;
        }

        error_page 401 /openidconnect/authorize?response_type=code&scope=openid%20cookie&client_id=signin&redirect_uri=/;
        error_page 403 /openidconnect/authorize?response_type=code&scope=openid%20cookie&client_id=signin&redirect_uri=/;

}
